:root{
    --primary-color : #b34141;
    --secondary-color:#fff;
    --black-color:#000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
}

/* theme dark   */

.bg-black{
    background-color: black;
  }
  
  .bg-light-black{
    background-color: #262626 !important;
  }
  .text-black{
    color: black;
  }
  .text-black:hover{
    border-bottom: 1px solid black !important;
  }
  .text-light-black{
    color: #262626;
  }
  

  .text-dark-primary{
    color: rgba(104, 85, 224, 1) !important;
  }
  
  /* theme light  */
  
  .bg-light{
    background-color: white;
  }
  .bg-light-2{
    background-color: #dadcde;
  }
  .bg-light-primary{
    background-color: #092b69;
  }
.text-light{
  color: #d8d8d8 !important;
}
  .text-light-primary{
    color:#191659 !important ;
  }